<header>
  <h1>Rogue's Gallery</h1>
  <nav class="full-nav">
    <ul>
      <li><a href="/">home</a></li>
      <% if(isLoggedIn){ %>
      <li><a href="/application">Posts</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
      <% } else { %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <% } %>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>
</header>
