@import url("https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

header {
  /* width: 100%; */
  /* margin: 0%;
  padding: 0%;
  height: 100vh; */
  /* margin: 0 auto; */
  background-color: rgb(41, 33, 119);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  min-height: 50px;
}

header h1 {
  /* Selects all `h1` elements that are somewhere inside of a `header` element, in this case the title */
  font-size: 200%;
  font-family: "Kumar One Outline", system-ui;
  color: rgb(97, 74, 247);
  margin: 20px;
}

* {
  font-family: "Noto Serif";
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 0px 20px 0px 10px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(87, 129, 172);
  padding: 0;
  margin: 0;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  min-height: 100vh;
}

main {
  flex: 1;
}

img {
  margin: 10px;
  width: 100%;
  /* allows for responsive scaling */
}

.nav-text {
  color: rgb(97, 74, 247);
}

h1 {
  font-family: "Kumar One Outline", system-ui;
  color: rgb(97, 74, 247);
  margin: 20px;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  /* justify-self: center; */
}

.purple-text {
  color: rgb(97, 74, 247);
}

p {
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

a {
  color: rgb(41, 33, 119);
}

input {
  margin: 5px 0px 5px 0px;
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
}

/* input[type="file"] {
  display: inline-block;
  margin: 0 auto;
} */

/* ^ Attempt to fix the file inputs not centering */

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* ^ Check if this class will be necessary in EJS views */

footer {
  flex-shrink: 0;
  text-align: center;
  background-color: rgb(41, 33, 119);
  color: rgb(97, 74, 247);
  font-size: 1.25rem; /* styled to the root font size (by default 16px) allows accessible resizing from user */
  min-height: 50px;
}

.content-wrapper {
  flex: 1 0 auto;
  max-width: 1280px;
  /* constrains the width of the container to 1280px ISSUES WITH ABOUT PAGE DISPLAYING ARE CONNECTED TO THIS - UPDATE, ABOUT PAGE DISPLAYS IF HEADER ISNT INCLUDED, LOOK INTO THIS FURTHER*/
  margin: 0 auto;
  /* allows for dynamic centering via the browser */
  height: auto;
  text-align: center;
}

.btn {
  padding: 0.4rem;
  /* position: relative; */
  border: 3px outset;
  border-color: rgb(97, 74, 247);
  background-color: rgb(41, 33, 119);
  color: rgb(97, 74, 247);
  margin: 10px;
  /* align-self: center; */
  /* margin: 0 auto; */
}

.btn:hover {
  background-color: rgb(41, 33, 100);
  color: rgb(91, 80, 200);
  border: 3px inset;
}

.post-timeline-container {
  display: grid;
  grid-template-columns: 5fr;
  justify-content: center;
  border: 4px groove;
  border-color: grey;
  /* text-align: center; */
}

.post-maker-container {
  box-shadow: 0 4px 8px 0 rgba(85, 6, 97, 0.4);
  transition: 0.3s;
  border: 4px dashed;
  border-top: 20px solid;
  border-color: rgb(41, 33, 119);
  margin: 20px 5px 0px 5px;
  padding: 0px 0px 10px 0px;
}

.post-maker-container:hover {
  box-shadow: 0 8px 15px 0 rgba(85, 6, 97, 0.4);
}

.login-form {
  display: inline-block;
  /* align-items: center; */
  /* justify-content: center; */
}
/* SEE IF THE ABOVE IS NEEDED ^ */

.profile-form-container {
  display: inline-block;
  /* justify-content: center; */
}

.timeline-nav-container {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 0%;
}

.timeline-nav-container li a {
  display: block;
  border: 2px outset;
  border-color: rgb(97, 74, 247);
  background-color: rgb(41, 33, 119);
  color: rgb(97, 74, 247);
  padding: 8px 12px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.timeline-nav-container li a:hover {
  background-color: rgb(41, 33, 100);
  color: rgb(91, 80, 200);
  border: 2px inset;
}

.timeline-nav-container button {
  font-size: 2rem;
}

.post-user-avatar {
  max-width: 20px;
  max-height: 20px;
}

/* Darkmode with switch between dark and light? */
