@import url("https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap");

header {
  width: 100%;
  /* margin: 0%;
  padding: 0%;
  height: 100vh; */
  /* margin: 0 auto; */
  background-color: rgb(35, 30, 91);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
  /* Selects all `h1` elements that are somewhere inside of a `header` element, in this case the title */
  font-size: 200%;
  margin-left: 20px;
}

/* nav {
  margin: 20px;
} */

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 10px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 62, 78);
}

main {
  flex: 1 0 auto;
}

h1 {
  font-family: "Kumar One Outline", system-ui;
  color: rgb(76, 60, 180);
  margin: 20px;
}

a {
  color: rgb(76, 60, 180);
}

/* form {
border: 3px solid #f1f1f1; 
} */

.footer {
  flex-shrink: 0;
}

.container {
  max-width: 1280px;
  /* contrains the width of the container to 1280px */
  margin: 0 auto;
  /* allows for dynamic centering via the browser */
}

.btn {
  padding: 0.4rem;
  /* position: relative; */
  border: 1px solid rgb(76, 60, 180);
  background-color: rgb(35, 30, 91);
}

.btn:hover {
  background-color: rgb(33, 24, 138);
  color: rgb(91, 80, 222);
}

.post-container {
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.login-form {
  display: inline-block;
  /* align-items: center; */
  /* justify-content: center; */
}
/* SEE IF THE ABOVE IS NEEDED ^ */

.profile-form {
  display: inline-block;
  /* justify-content: center; */
}

/* Darkmode with switch between dark and light? */
