<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <div class="content-wrapper">
<main>
    <div class="login-form">
    <h2>Step into character</h2>
    <form action="/login" method="POST">
        <label>Username</label>
        <input required type="text" id="username" name="username"><br>
        <label>Password</label>
        <input required type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <a href="">Forgotten password?</a>
    <br>
    <a class="btn" href="/register">Create new account</a>
    </div>
</div>
</main>
<%- include('../partials/footer')%>

