<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <div class="container">
<main>
    <h1>Are you sure you want to logout?</h1>
    <form action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
</main>
<%- include('../partials/footer')%>