<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <div class="container">
    <h1>Welcome to your profile</h1>
    <h4>Profile info</h4>
</body>
</div>
</html>
<%- include('../partials/footer')%>